a{
    text-decoration: none!important;
    color: white;
}
a:hover{
    color: grey;
}
hr{
    color: red;
}
#badge{
    opacity: 0.8;
}
.error {
    color: red;
    font-size: large;
}
  ul{
    list-style-type: none;
}